@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Encode+Sans+SC&family=Merienda:wght@400;700&family=Montserrat+Alternates&family=Sriracha&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: Sriracha;
}

body{
  background-image: linear-gradient(-130deg,#b84491, #b84491ec, rgba(224, 87, 178, 0.11));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

 /*botao switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 23px;
    left: 5px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #E057B2;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #E057B2;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*escudo*/

fieldset{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 5% 20px ;
  margin: 2% 30% ;
  background-color: rgba(245, 245, 245, 0.445);
  border-radius: 30px;
  border: solid 1px white;
}
/*cores titulos*/
.semiPreto{
  color: #292929
}
/*cor do asterisco */
span{
  color: #e931ab
}
h2{
 text-align: center;
}
h4{
  margin-top: 2%;
}

.inputNumbers{
  margin: 3%;
  height: 37px;
  border-radius: 10px;
  border: none;
  padding: 0 10px
}
  .inputNumbers:hover{
    box-shadow: 0 0 5px #e931ab;
  }
  .inputNumbers:focus{
    outline: none;
    box-shadow: 0 0 5px #f800a5;
    
  }

  /*inputs de notificações*/

  .inputNotif{
    width: 100%;
    padding: 5px 0px;
    border-bottom: 1px solid #292929;
    display: flex;
    justify-content: space-between;
    
  }

  .inputTime{
    font-weight: bold;
    background-color: transparent;
    border: none
  }

    .inputTime:hover{
      border: 1px solid black;
      border-radius: 5px;
    }
    .inputTime:focus{
      outline: none;
      border: 1px solid rgba(255, 255, 255, 0.466);
      border-radius: 5px;
    }

    .btn{
      margin-top: 25px;
      margin-bottom: 15px;
      height: 45px;
      border-radius: 10px; 
      border: none;
      background-color: #E057B2;
      color: #f1f1f1;
      font-size: large;
    }
      .btn:hover{
        background-color: #df64b6;
        font-size: 1.2em;
      }
  
  @media screen and (min-width: 769px) and (max-width: 1024px){
    fieldset{
      margin:2% 25%;
      padding: 10px 30px 20px ;
    }
    .responsive_font{
      font-size: 1.7vw;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 768px){
    fieldset{
      margin:2% 14%;
    }
    .responsive_font{
      font-size: 3vw;
    }
    .responsive_font_input{
      font-size: 2.5vw;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 480px){
    fieldset{
      margin:2% 5%;
      padding: 10px 23px 20px ;
    }
    .responsive_font{
      font-size: 4.3vw;
    }
    .responsive_font_input{
      font-size: 3vw;
    }
    .inputNumbers{
      height: 30px;
  }
    .inputTime{
      font-size: 3.6vw;
      width: 26.2%;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 20px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 17px;
      left: 4px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #E057B2;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #E057B2;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
  
}